{% extends "AppChuleleche/base.html" %}
{% load static %}

{% block title %} Clientes {% endblock title %}

{% block main %}

<div class="col-lg-6 mb-5 mb-lg-0">
    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
    <h2 class="h4 fw-bolder">Clientes</h2>
    <p>Crear cliente</p>
    <a class="text-decoration-none" href="{% url 'ClientesAlta' %}">
        Alta
        <i class="bi bi-arrow-right"></i>
    </a>
</div>
<div class="col-lg-6 mb-5 mb-lg-0">
    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
    <h2 class="h4 fw-bolder">Clientes</h2>
    <p>Busqueda de clientes</p>
    <a class="text-decoration-none" href="{% url 'ClientesBuscar' %}">
        Consulta
        <i class="bi bi-arrow-right"></i>
    </a>
</div>

{% endblock main %}